*.class
target
.DS_Store

# idea folders
.idea/*
!.idea/runConfigurations
*/.idea/*
!*/.idea/runConfigurations
atlassian-ide-plugin.xml

*.log
# Package Files #
*.jar
*.war
*.ear


# axis files
fhdw-travelservice-ws/aar/*
fhdw-travelservice-ws/bin/*