.page-content {
    padding-left:10px;
    padding-right: 10px;
}

.logo {
    display:block;
    margin: 0 auto;
}

.custom-button {
    height: 105px !important;
}

.custom-button .ui-btn-inner {
    padding: 0 !important;
}

.vacation-button-table {
    text-align: left;
}

.vacation-button-table .col-image {
    padding-left: 10px;
    padding-right: 10px;
}
